.mainContainer {
    display: flex;
    marginTop: 20px;
}
.labelItemContainer {
    display: flex;
}
.inputItem {
    margin-right: 5px;
    height: 20px;
    min-width: 230px;
}
.labelItem {
    height: 20px;
    width: 100px;
    border: 1px solid black;
    min-width: 230px;
    margin-right: 5px;
}
.btnItem {
    width: 100px;
    margin-right: 10px;
    margin-bottom: 5px;
}