.listContainer {
    margin-top: 30px;
}
.btnsContainer {
    display: flex;
    justify-content: start;
    align-content: center;
    margin-top: 30px;
    margin-left: 20px;
}
.btnItem {
    margin-right: 10px;
    width: 150px;
    height: 30px;
}